@charset "UTF-8";

/* Todas as demais Midias */


/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 769px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
-----------------------------
*/

@media print{ /* Impressão */
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    
img#phone{
    display: none;
}

img#tablet{
    display: none;
}

img#imp{
    display: block;
}

img#desk{
    display: none;
}

img#tv{
    display: none;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    
img#phone{
    display: none;
}

img#tablet{
    display: block;
}

img#imp{
    display: none;
}

img#desk{
    display: none;
}

img#tv{
    display: none;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    
img#phone{
    display: none;
}

img#tablet{
    display: none;
}

img#imp{
    display: none;
}

img#desk{
    display: block;
}

img#tv{
    display: none;
}
}

@media screen and (min-width: 1200px) { /* Grandes telas */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    
img#phone{
    display: none;
}

img#tablet{
    display: none;
}

img#imp{
    display: none;
}

img#desk{
    display: none;
}

img#tv{
    display: block;
}
}