@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #FF2EA8, #B51EE8);
}

main{
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.808);
    width: 600px;
    border-radius: 4%;
    padding: 10px;
    margin:auto
}

h1{
    color: #3f0acf;
    text-shadow: 4px 3px 5px rgba(0, 0, 0, 0.801);
    text-align: center;
}

h2{
    color: #9010bb;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.808);
}

p{
    text-align: justify;
}